-- Configure onedark
-- Lua
-- Config indent-blankline
require("ibl").setup({ indent = { char = "╎" } })

require("noice").setup({
	lsp = {
		-- override markdown rendering so that **cmp** and other plugins use **Treesitter**
		override = {
			["vim.lsp.util.convert_input_to_markdown_lines"] = true,
			["vim.lsp.util.stylize_markdown"] = true,
			["cmp.entry.get_documentation"] = true,
		},
	},
	-- you can enable a preset for easier configuration
	presets = {
		bottom_search = false, -- use a classic bottom cmdline for search
		command_palette = false, -- position the cmdline and popupmenu together
		long_message_to_split = true, -- long messages will be sent to a split
		inc_rename = false, -- enables an input dialog for inc-rename.nvim
		lsp_doc_border = false, -- add a border to hover docs and signature help
	},
	routes = {
		{
			filter = {
				event = "msg_show",
				kind = "",
				find = "written",
			},
			opts = { skip = true },
		},
	},
})

-- Configure cmdline popup
local Popup = require("nui.popup")
local popup = Popup({
	position = {
		row = "50%",
		col = "50%",
	},
	size = {
		width = 80,
		height = 40,
	},
	enter = true,
	focusable = true,
	zindex = 50,
	relative = "editor",
	border = {
		padding = {
			top = 2,
			bottom = 2,
			left = 3,
			right = 3,
		},
		style = "rounded",
		text = {
			top = " I am top title ",
			top_align = "center",
			bottom = "I am bottom title",
			bottom_align = "left",
		},
	},
	buf_options = {
		modifiable = true,
		readonly = false,
	},
	win_options = {
		winblend = 10,
		winhighlight = "Normal:Normal,FloatBorder:FloatBorder",
	},
})

-- Setup neovim lua configuration
require("neodev").setup()

-- Setup mason so it can manage external tooling
require("mason").setup()
require("mason-null-ls").setup({
	automatic_setup = true,
})

-- Ensure the servers above are installed
local mason_lspconfig = require("mason-lspconfig")

mason_lspconfig.setup({
	ensure_installed = vim.tbl_keys(servers),
})

mason_lspconfig.setup_handlers({
	function(server_name)
		require("lspconfig")[server_name].setup({
			capabilities = capabilities,
			on_attach = on_attach,
			settings = servers[server_name],
		})
	end,
})

require("vanyo.null-ls")

require("nvim-autopairs").setup({})

